@charset "utf-8";
/* CSS Document */

.body {
		background: rgba(59,59,59,1.00);
		font-family: simsun;
		padding: 30px;
		color: wheat;
		 
	}	
	.ytest {
		color: greenyellow;
		padding: 10px;
	}
	.h4tag {
		background-color: #CC595B;
		color:brown;
		font-family: tahoma;
		font-size: 35px;
		width: 250px
	}
	.cssin {
		font-size: 50px;
		color: darkorange
	}
	.text {
		color: rgba(111,101,239,1.00);
		width: flex
	}
button{
	font-size: 40px;
	color: orange;
	padding: 20px,30px,40px,50px;
}
li {
	list-style: none;
	font-family: 楷体;
	float: left;
	padding: 20px;
}
h1 {
	font-size: 80px;
	padding: 0px
}