@charset "utf-8";
/* CSS Document */

.body {
		background: rgba(59,59,59,1.00);
		font-family: simsun;
		padding: 30px;
		color: wheat;
		 
	}	
	.ytest {
		color: greenyellow;
		padding: 10px;
	}
	.h4tag {
		background-color: #CC595B;
		color:brown;
		font-family: tahoma;
		font-size: 35px;
		width: <
	}
	.cssin {
		font-size: 50px;
		color: darkorange
	}
	.text {
		color: rgba(111,101,239,1.00);
		width: auto;
		border: 1px solid white;
	}
button{
	font-size: 40px;
	color: orange;
	padding: 20px,30px,40px,50px;
}
li {
	list-style: none;
	font-family: 楷体;
	float: left;
	padding: 20px;
}
h1 {
	font-size: 80px;
	padding: 0px
}
a {
	
}
.a1 {
	color:blue;
}
.a2 {
	color:rgba(198,0,197,1.00);
}
.a3 {
	color : red;
	
}
.换行 {
   color:white;
	float: right;
	list-style: circle
}
.换行 li{
	list-style: decimal-leading-zero;
	color:blue;
}.不换行 {
	color:cadetblue;
	font-family: 隶书;
	float: right;
	list-style: decimal-leading-zero
}

.不换行 li{
	list-style: decimal
}